<div id="footer" class="section--dark">
  <div class="footer-container container align--center">
    <div class="footer__logo">
      <a href="/">
        <img class="lazyload" data-src="/static/theme/site/assets/images/logo.png" alt="GUP Capital" />
      </a>
    </div>
    <div class="footer__navigation">
      <a href="#banner">Trang chủ</a>
      <a href="#section-1">Copytrade</a>
      <a href="#section-2">Lợi nhuận</a>
      <a href="#section-3">Cách thức hoạt động</a>
      <a href="#section-4">GUP Capital</a>
      <a href="#section-6">Testimonials</a>
      <a href="#section-7">Về chúng tôi</a>
      <a href="#section-8">FAQ</a>
    </div>
    <div class="footer__socials">
      <div class="social--item">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </div>
      <div class="social--item">
        <a href="#"><i class="fab fa-telegram"></i></a>
      </div>
      <div class="social--item">
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer__copyright">
      © 2019 GUP Capital
    </div>
  </div>
</div>