<!DOCTYPE html>
<html lang="vi">

<!-- begin::Head -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--begin::Base Path (base relative path for assets of this page) -->
  <!-- <base href="../static/theme/site/assets/"> -->

  <!--end::Base Path -->
  <title>GUP Capital</title>
  <meta name="description" content="Updates and statistics">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="icon" href="/static/images/gupcapital-overlay-favicon-32x32.png" sizes="32x32">
  <link rel="icon" href="/static/images/gupcapital-overlay-favicon-64x64.png" sizes="64x64">
  <link rel="icon" href="/static/images/gupcapital-overlay-favicon-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon-precomposed" href="/static/images/gupcapital-overlay-favicon-180x180.png">
  <meta name="msapplication-TileImage" content="/static/images/gupcapital-overlay-favicon-270x270.png">