			<% include ../../layout/head %>
			<% include ../../layout/global-vendors %>
				<% include ../../layout/header %>
					<% if( req.user.level >= data.member[0].level && req.user.level > 1 && req.user.username !== data.member[0].username ) { %>
						<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
							<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
								<div class="row">
									<div class="col-12">
										<div class="alert alert-danger fade show" role="alert">
											<div class="alert-icon"><i class="flaticon-warning"></i></div>
											<div class="alert-text">Oops! You are not allowed to access this page</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% } else { %>
					<% include profile-aside %>
								<!--Begin:: App Content-->
								<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
									<div class="row">
										<div class="col-xl-12">
											<div class="kt-portlet kt-portlet--height-fluid">
												<div class="kt-portlet__head">
													<div class="kt-portlet__head-label">
														<h3 class="kt-portlet__head-title">Change Password</small></h3>
													</div>
												</div>
												<% include ../../../default/alerts %>
												<form class="kt-form kt-form--label-right" id="changePassword" action="/admin/member/profile/<%=data.member[0]._id%>?target=change-password" method="post">
													<div class="kt-portlet__body">
														<div class="kt-section kt-section--first">
															<div class="kt-section__body">
																<% if(data.member[0].level > 1){ %>
																<div class="form-group row">
																	<label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
																	<div class="col-lg-9 col-xl-6">
																		<input name="currentPassword" type="password" class="form-control" placeholder="Current password">
																	</div>
																</div>
																<% } %>
																<div class="form-group row">
																	<label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
																	<div class="col-lg-9 col-xl-6">
																		<input name="newPassword" type="password" class="form-control" placeholder="New password">
																	</div>
																</div>
																<div class="form-group form-group-last row">
																	<label class="col-xl-3 col-lg-3 col-form-label">Verify Password</label>
																	<div class="col-lg-9 col-xl-6">
																		<input name="verifyPassword" type="password" class="form-control" placeholder="Verify password">
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="kt-portlet__foot">
														<div class="kt-form__actions">
															<div class="row">
																<div class="col-lg-3 col-xl-3">
																</div>
																<div class="col-lg-9 col-xl-9">
																	<button type="submit" class="btn btn-brand btn-bold">Change Password</button>&nbsp;
																	<button type="reset" class="btn btn-secondary">Cancel</button>
																</div>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>

								<!--End:: App Content-->
							</div>

							<!--End::App-->
						</div>

						<!-- end:: Content -->
					</div>
					<% } %>
				<% include ../../layout/footer %>
			<% include ../../layout/footer-script %>

		<!--begin::Page Scripts(used by this page) -->
		<script>
		$("#changePassword").validate({
			rules: {
				currentPassword: {
					required: <%=data.member[0].level === 1 ? false : true%>
				},
				newPassword: {
					required: true,
					minlength: 5
				},
				verifyPassword: {
					required: true,
					equalTo: "[name='newPassword']"
				}
			},
			messages: {
				verifyPassword: {
					equalTo: "Please enter the same password as above",
				},
			},
			invalidHandler: function(event, validator) {
				swal.fire({
					"title": "", 
					"text": "There are some errors in your submission. Please correct them.", 
					"type": "error",
					"onClose": function(e) {
						console.log('on close event fired!');
					}
				});

				event.preventDefault();
			},

			submitHandler: function (form) {
				form.submit();
			}
		});  
  		</script>
		<!--end::Page Scripts -->
	</body>

	<!-- end::Body -->
</html>