<div id="banner" class="section--dark">
  <div id="particles_5de73c54891710" class="particles-js apress_particle_wrap"
    style="position: absolute; top:0%; left:0%; width:100%; height:100%; z-index:1;" data-particles-type="hexagons"
    data-particles-number="10" data-particles-color="#fe8f7b,#6d4fff,#ffffff" data-particles-line="true"
    data-particles-size="10" data-particles-speed="2" data-particles-hover="true"
    data-particles-hover-mode="repulse" data-particles-colors-type="random_colors"><canvas
      class="particles-js-canvas-el" width="3712" height="2034" style="width: 100%; height: 100%;"></canvas></div>
  <div class="banner-container container ">
    <div class="banner-container__left banner-container__item">
      <div>
        <div class="zolo_heading_element animated fast clipping-hide apcore-clipping-animation "
          data-animation="clipping_right_to_left align--left" data-delay="700">
          <div class="zolo_heading_element_text">
            <h2 class="title align--left"><span>Bắt đầu sao chép giao dịch để tạo ra lợi nhuận thụ động</span></h2>
          </div>
        </div>
      </div>
      <div class="spacer spacer-50"></div>
      <div>
        <div class="zolo_heading_element animated fast clipping-hide apcore-clipping-animation "
          data-animation="clipping_right_to_left align--left" data-delay="1000">
          <div class="zolo_heading_element_text">
            <p class=paragraph><span>Chúng tôi kết nối nhà đầu tư với hệ thống giao dịch thông qua nền tảng sao chép
                nhằm
                cung cấp giải pháp sinh lời hiệu quả cho thị trường Forex</span></p>
          </div>
        </div>
      </div>
      <div class="zolo_button_element animated fast hiding" data-animation="fadeInUp" data-delay="1500">
        <div class="button cta-button">
          <a href="/register">Bắt đầu sao chép</a>
        </div>
      </div>
    </div>
    <div class="banner-container__right banner-container__item">
      <div class="expanding_image_wrapper left animated fast clipping-hide apcore-clipping-animation"
        data-animation="clipping_left_to_right" data-delay="1000">
        <div data-parallax='{"x": 100, "y": 0}'><img class="lazyload img-fluid" data-src="/static/theme/site/assets/images/367lp.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>