<div id="navigation" class="navigation">
  <div class="container-fluid">
    <div class="logo">
      <a href="/">
        <img class="lazyload" data-src="/static/theme/site/assets/images/logo.png" />
      </a>
    </div>
  </div>
</div>