<% include ../layout/head %>
<!--begin::Global Theme Styles(used by all pages) -->
<% include ../layout/header-scripts %>
<!--end::Global Theme Styles(used by all pages) -->
</head>

<body class="no-header landing-page is-loading">
  <!-- begin::Wrapper -->
  <div id="wrapper">
    <!-- begin::Loader -->
    <% include ../plugins/loader %>
    <!-- end::Loader -->
    <!-- begin::Navigation -->
    <% include ../components/landing-navigation %>
    <!-- end::Navigation -->
    <!-- begin::Main -->
    <div id="main">
      <!-- begin::Container -->

      <!-- end::Container -->
    </div>
    <!-- end::Main -->
    <!-- begin::Footer -->
    <% include ../layout/footer %>
    <!-- end::Footer -->
  </div>
  <!-- end::Wrapper -->
  
  <!-- begin::Global Config(global config for global JS sciprts) -->
  <% include ../layout/footer-scripts %>
  <!-- end::Global Config -->
  <!--begin:: Global Mandatory Vendors -->
  <!-- begin::Script -->
  <!-- end::Script -->
</body>

</html>