<!-- begin::Loader -->
<div id="loader">
  <div class="loader--item loader__left">
    <div class="loader--logo">
      <img class="lazyload" alt="GUP Capital" data-src="/static/theme/site/assets/images/gupcapital-favicon-180x180.png" data-srcset="/static/theme/site/assets/images/gupcapital-favicon-180x180.png 1366w, /static/theme/site/assets/images/gupcapital-favicon-64x64.png 360w"/>
    </div>
    <img class="lazyload loader-gif img-fluid" data-src="/static/theme/site/assets/images/loader.gif" />
  </div>
  <div class="loader--item loader__right">
    <div class="loader--logo">
      <img class="lazyload" alt="GUP Capital" data-src="/static/theme/site/assets/images/gupcapital-favicon-180x180.png" data-srcset="/static/theme/site/assets/images/gupcapital-favicon-180x180.png 1366w, /static/theme/site/assets/images/gupcapital-favicon-64x64.png 360w"/>
    </div>
    <img class="lazyload loader-gif img-fluid" data-src="/static/theme/site/assets/images/loader.gif" />
  </div>
</div>
<!-- end::Loader -->